<%= form_tag '/#' do %>
  <div class="mt-5 pt-5">
    <div class='pb-1 text-center'>
      <%= label_tag :card_number , "Card number", class:"col-form-label"%>
    </div>
    <div class='pb-4 col-md-6 offset-md-3'>
      <%= text_field_tag :card_number , nil, class:"form-control text-center", placeholder: 'Card number'  %>
    </div>

    <div class='pb-1 text-center'>
      <%= label_tag :donate_amount , "Donate amount", class:"col-form-label"%>
    </div>
    <div class='pb-4 col-md-6 offset-md-3'>
      <%= number_field_tag :donate_amount , nil, class:"form-control text-center", placeholder: 'Enter donate amount'  %>
    </div>

    <div class="row col-md-6 offset-md-3">
      <div class="col-4">
        <div class='pb-1 text-center'>
          <%= label_tag :month, "Month", class:"col-form-label" %>
        </div>
        <div class='pb-4'>
          <%= number_field_tag :month , nil, class:"form-control text-center", placeholder: 'Expired month' %>
        </div>
      </div>
      <div class="col-4">
        <div class='pb-1 text-center'>
          <%= label_tag :year, "Year", class:"col-form-label" %>
        </div>
        <div class='pb-4'>
          <%= number_field_tag :year , nil, class:"form-control text-center", placeholder: 'Expired year' %>
        </div>
      </div>
      <div class="col-4">
        <div class='pb-1 text-center'>
          <%= label_tag :cvc, "CVC", class:"col-form-label" %>
        </div>
        <div class='pb-4'>
          <%= number_field_tag :cvc , nil, class:"form-control text-center", placeholder: 'CVC' %>
        </div>
      </div>
    </div>

    <div class="actions text-center pt-3 mb-5">
      <%= submit_tag 'Donate', class:"btn btn-outline-light mr-3" %>
    </div>
  </div>
<% end %>
